<%
if issue_view.present?
  if issue_view.updated_on >= @issue.updated_on
    css_class = 'viewed_all'
    tooltip = t('issue_view.marker.seen_all')
    content = '&#x2714;'
  else
    css_class = 'viewed'
    tooltip = t('issue_view.marker.seen_but_not_all')
    content = '&#x2713;'
  end

else
  css_class = 'not_viewed'
  tooltip = t('issue_view.marker.never_seen')
  content = '&#x2717;'
end
%>
<span class="issue_view <%=css_class%>" title="<%=tooltip%>"><%=raw(content)%></span>
