.issue_view {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: default;
}

.issue_view.viewed      { color: #F1C232; }
.issue_view.viewed_all  { color: #6AA84F; }
.issue_view.not_viewed  { color: #E69138; }
